/* Copyright - 2025 aadium (Aadi Umrani)  */

.card {
  width: 100%;
  height: 240px;
  padding: 10px;
  background-color: var(--bg-secondary);
}

.profileimage {
  background-color: transparent;
  border: none;
  margin-top: 10px;
  border-radius: 5em;
  width: 80px;
  height: 80px;
}

.pfp {
  border-radius: 35em;
  fill: var(--text-primary);
}

.Name {
  color: var(--text-primary);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px;
  font-size: 20px;
  margin-top: 10px;
}

.card {
  transition: 0.4s;
  color: var(--text-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
